<div class="ui centered equal width grid">
  <div class="row">
    <div class="column">
      <div class="ui segment">
        <h3>{{stationName}}</h3>
        <i class="huge map marker icon"></i>
        <br>
        Latitude: {{latitude}}
        <br>
        Longitude: {{longitude}}
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <h3>Weather</h3>
        <i class="huge blue right floated {{latestReading.weatherIcon}} icon"></i>
        <br>
        {{latestReading.weather}}
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <h3>Temp</h3>
        <i class="huge grey temperature low icon"></i>
        <br>
        {{latestReading.temp}} C or {{latestReading.tempFar}} F
        <br>
        Max: {{maxTemp}}
        <br>
        Min: {{minTemp}}
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <h3>Wind speed</h3>
        <i class="huge grey wind icon"></i>
        <br>
        {{latestReading.beaufourt}} Bft
        <br>
        Max: {{maxWind}}
        <br>
        Min: {{minWind}}
        <br>
        Wind direction: {{latestReading.windDir}}
        <br>
        Feels like: {{latestReading.windChill}}
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <h3>Pressure</h3>
        <i class="huge grey tachometer alternate icon"></i>
        <br>
        {{latestReading.pressure}} hPa
        <br>
        Max: {{maxPressure}}
        <br>
        Min: {{minPressure}}
      </div>
    </div>
  </div>
</div>